#edit-main-box {
    color: var(--text-100);
    height: 100%;
    overflow-y: auto;
    padding-left: 1rem;
    padding-right: 1rem;

    &::-webkit-scrollbar-thumb:hover {
        background: var(--bg-100);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--bg-100);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
        background: var(--bg-300);
        border-radius: 10px;
    }

    &::-webkit-scrollbar {
        width: 8px;
    }
}

#unit-cards {
    border-radius: 5px;
}

.edit-mod-info {
    margin-bottom: 10px;
}

.unit-card {
    margin-bottom: 10px;
    color: var(--text-100);
    background: var(--bg-200);
    width: 100%;
    min-height: 100px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--bg-200);
    transition: border var(--amin-speed);
    
    &:hover {
        border: 1px solid var(--accent-100);
    }
}